<!DOCTYPE html>
<html>

<head>
    {% include "GOMO_EMAIL_STYLE_GVS_LATEST" %}
</head>

<body>
<h3>Dear customer</h3>

<p>For your convenience and reference, find attached information as requested.</p>
<p>Should you wish to query the contents of the document or
    inform us of important changes to your personal information,
    please do not hesitate to contact us on any of the telephone numbers listed.<br>
    Alternatively, you can send an e-mail to <a href="mailto: care@gomo.co.za">care@gomo.co.za</a>.<br>
</p>
<p>
    The document contains enhanced security features and to open it, simply follow the following step-by-step
    instructions:
<ol>
    <li>
        Double-click on the attachment.
    </li>
    <li>
        Type in your password (either identity or company registration number).
    </li>
    <li>
        Click <b>OK</b>
    </li>
</ol>
</p>
<p>
    Remember you will need the latest version of Adobe Reader to open the attachment. If you have not downloaded the
    Adobe Reader yet, you can do so from the Adobe website.<br>
    Also, please advise us if your email address changes to ensure that you receive all future notices safely, on time,
    every time.
</p>
</body>
<footer>
    {% include "GOMO_EMAIL_FOOTER_GVS_LATEST" %}
</footer>
</html>
