<!DOCTYPE html>
<html>
    <head>
        {% include "SATAXI_EMAIL_STYLE_LATEST" %}
        <br/>
        {% include "SATAXI_EMAIL_HEADER_LATEST" %}
        <br />
    </head>
    <body>
        <p>Dear {{CLIENT_NAME}}</p>
        <p>Please find your Account statement attached.</p>
        <ul>
            <li>This document is password protected for your safety.</li>
            <li>To view it, simply open the PDF attachments and use your South African ID number or passport number as your password.</li>
            <li>You may require <i>Adobe Acrobat Reader</i> on your device to open
                PDF files. If you do not have this software, you can download it for free on the
                <a href="https://get.adobe.com/reader/">Adobe website</a></li>
        </ul>
        <p>
            Kind Regards,
            <hr style="width: 300px" align="left" />
            SA Taxi Customer service Team<br />
            For Queries or more information please contact us on:<br/>
                <b>Telephone: </b> 0861829448<br/>
                <b>Email:</b>
                <a href = "mailto: customerservice@sataxi.co.za?subject=Statement Account Query&body=Dear Customer Service">customerservice@sataxi.co.za</a>
        </p>
    </body>
    <footer>{% include "SATAXI_EMAIL_FOOTER_LATEST" %}</footer>
</html>
