<!DOCTYPE html>
<html>

<head>
    {% include "SATAXI_EMAIL_STYLE_LATEST" %}
    <title>{{TITLE}}</title> {% include "SATAXI_EMAIL_HEADER_LATEST" %} <br />
</head>

<body>To whom it may Concern<br />
    <p>Please refer to Case no. {{CASE_NUMBER}} for a request for account information on deal number {{DEAL_NUMBER}}</p>
    <table>
        <tr>
            <th class="text-align">Client Name:</th>
            <th class="text-align">{{CLIENT_NAME}}</th>
        </tr>
        <tr>
            <th class="text-align">Client Contact:</th>
            <th class="text-align">{{CLIENT_CONTACT}}</th>
        </tr>
        <tr>
            <th class="text-align">Chassis Number:</th>
            <th class="text-align">{{CHASSIS_NUMBER}}</th>
        </tr>
        <tr>
            <th class="text-align">Engine Number:</th>
            <th class="text-align">{{ENGINE_NUMBER}}</th>
        </tr>
        <tr>
            <th class="text-align">Alternate Contact No:</th>
            <th class="text-align">{{ALTERNATE_CONTACT_NO}}</th>
        </tr>
    </table> <br /> {{AGENT_NAME}}<br /> Customer Service Centre<br /> SA Taxi
</body>
<footer> {% include "SATAXI_EMAIL_FOOTER_LATEST" %} </footer>

</html>